
//ellipse
.ellips__secondary-block-one, .ellips__secondary-block-three, .ellips__secondary-block-two
    position: absolute
    z-index: 0
    

.ellips_first-section
    position: absolute
    width: 1000px;
    height: 1000px;
    transform: scaleX(1.5);
    left: -172px;
    top: -590px;
    background: radial-gradient(circle, rgba(33, 119, 247,0.24) 0%, rgba(33, 119, 247, 0.25) 20%, rgba(33, 119, 247,0) 45%);

.ellips_first-section-group
    position: absolute
    width: 800px;
    height: 800px;
    left: 782px;
    top: -460px;
    // background: radial-gradient(circle, rgba(29, 34, 188, 0.3) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(57, 125, 226, 0.3) 0%, rgba(57, 125, 226, 0.1) 40%, rgba(57, 125, 226, 0) 70%);
    transform: scaleX(1.5);

.ellips_first-section-group-one
    position: absolute
    width: 800px;
    height: 800px;
    left: 782px;
    top: -600px;
    // background: radial-gradient(circle, rgba(29, 34, 188, 0.3) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(123, 54, 235, 0.45) 0%, rgba(23, 54, 235, 0.1) 40%, rgba(23, 54, 235, 0) 70%);
    transform: scaleX(1.5);
.ellips_first-section-group-two
    position: absolute
    width: 800px;
    height: 800px;
    left: 782px;
    top: -300px;
    // background: radial-gradient(circle, rgba(29, 34, 188, 0.3) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(57, 226, 141, 0.4) 0%, rgba(57, 226, 141, 0.1) 40%, rgba(57, 226, 141, 0) 70%);
    transform: scaleX(1.5);

.ellips__secondary-block-one
    position: absolute
    width: 800px;
    height: 800px;
    left: 572px;
    top: -320px;
    // background: radial-gradient(circle, rgba(29, 34, 188, 0.3) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(92, 96, 232, 0.3) 0%, rgba(54, 60, 229, 0.1) 40%, rgba(54, 60, 229, 0) 70%);
    transform: scaleX(1.5);

.ellips__secondary-block-one-two
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 212px;
    top: -235px;
    // background: radial-gradient(circle, rgba(81, 87, 236, 0.18) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(33, 119, 247, 0.17) 0%, rgba(33, 119, 247, 0.1) 10%, rgba(33, 119, 247, 0) 40%);
    transform: scaleX(1.5);


.ellips__secondary-block-two
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 412px;
    top: -505px;
    // background: radial-gradient(circle, rgba(81, 87, 236, 0.18) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(57, 229, 138, 0.17) 0%, rgba(57, 229, 138, 0.1) 19%, rgba(57, 229, 138, 0) 50%);
    transform: scaleX(1.5);
.ellips__secondary-block-two-one
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 512px;
    top: -635px;
    // background: radial-gradient(circle, rgba(81, 87, 236, 0.18) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(33, 119, 247, 0.17) 0%, rgba(33, 119, 247, 0.1) 10%, rgba(33, 119, 247, 0) 30%);
    transform: scaleX(1.5);
    
.ellips__secondary-block-three
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 412px;
    top: -490px;
    // background: radial-gradient(circle, rgba(81, 87, 236, 0.18) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(49, 24, 205, 0.4) 0%, rgba(49, 24, 205, 0.1) 30%, rgba(49, 24, 205, 0) 70%);
    transform: scaleX(1.5);
    // transform: translate(16%, -35%)
.ellips__secondary-block-three-one
    position: absolute
    width: 800px;
    height: 800px;
    left: 372px;
    top: -170px;
    // background: radial-gradient(circle, rgba(29, 34, 188, 0.3) 0%, rgba(81, 87, 236, 0.1) 30%, rgba(81, 87, 236, 0) 70%);
    background: radial-gradient(circle, rgba(92, 96, 232, 0.3) 0%, rgba(54, 60, 229, 0.1) 40%, rgba(54, 60, 229, 0) 70%);
    transform: scaleX(1.5);