
@media  screen and (min-width: 1920px)
    
    .wrapper
        max-width: 1920px

    .main-information
        padding-top: 17.625rem
        padding-bottom: 6.25rem
        width: 100%
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center

    // .main-information_item 
    //     // padding-left: 23.75rem
    //     padding-left: 19.8%

    .section__wrapper_why-choose
        max-width: 1696px

    .secondary-block__title-one 
        width: 96%
    .stick
        transform: translate(230%, -78%)
    .position
        transform: translate(230%, 250%);
    .section__wrapper
        padding: 0 16.3%

    .secondary-block_title-our-price 
        width: 48%
    .secondary-block_title-descr-request 
        width: 50%
    .animation-cards__container
        width: 120%
    .animation_wrapper 
        width: 159%;
    .footer 
        max-width: 1696px
        padding: 40px 200px 30px 200px;

@media  screen and (max-width: 1430px) 
    .navigation
        max-width: 96vw
    .nav-request
        padding-left: 58px
        
@media  screen and (max-width: 1370px)
    .swiper-slide-color
        margin-inline: 0px
    .title_block
        padding-top: 0
    .nav-request
        padding-left: 71px
    .nav-menu
        position: relative
        gap: 20px
        
    // .nav-menu:before
    //     position: absolute
    //     content: '';
    //     width: 100px;
    //     // width: calc(150px + 210 * ((100vw - 768px)/ (1185  - 768))  )
    //     height: 100%
    //     top: 0px
    //     right: 0
    //     background: linear-gradient(to left, #242424 38.4%, rgba(30, 30, 30, 0) 100%);
    //     z-index: 1000
    .navigation
        position: relative
        z-index: 1100
    // .arrow-nav
    //     display: block
    //     position: absolute
    //     right: 499px
    //     top: 43%
    //     z-index: 1100
        

@media  screen and (max-width: 1350px) 
    .wrapper
        // padding: 0 30px
    // .nav-request
    //     padding-left: 9vw
    .stick
        transform: translate(calc(81vw - 355px), -66%)
    .position
        transform: translate(calc(83vw - 355px), 266%);
    
    .navigation
        max-width: 96vw
    .carousel-container
        width: 503px
        height: 376px
    .carousel
        height: 272px
    .swiper-pagination
        transform: translate(158%, 123%) !important
    .dot-translate
        transform: translate(161%, 0%) !important

@media  screen and (max-width: 1310px)
    .logo-icon
        padding-right: 0px
    .nav-request
        padding-left: 2vw
@media  screen and (max-width: 1217px)
    .footer
        padding-bottom: 100px
    .nav-request-mobile 
        z-index: 200;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
        bottom: 0vh;
        height: 88px;
        width: 100vw;
        background: rgba(30,30,30,0.7);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        border-radius: 24px 24px 0px 0px;
    .burger-menu
        display: flex
        position: absolute
        // bottom: 0
        bottom: -450px
        height: 336px
        width: 100vw
        background-color: #fff
        z-index: 100
        border-radius: 24px 24px 0px 0px;
        padding-inline: 45px
        padding-top: 25px
        transition: 0.5s
    .burger-menu-active
        bottom: 0
    .ul-burger-menu
        display: flex
        flex-direction: column
        justify-content: start
        align-items: start
        gap: 20px
        width: 100%
    .menu__item-link-burger-line
        width: 100%
        height: 1px
        background: rgba(30, 30, 30, 0.08);

    
    .logo-icon-mobile
        display: block
    .nav-menu, .nav-request, .arrow-nav
        display: none
    .navigation
        position: static
        background: none
        box-shadow: none
        top: 12px
        justify-content: start
        backdrop-filter: none

    .btn-menu
        display: flex
        padding: 16px 24px 16px 24px
        color: rgba(30, 30, 30, 1);
        width: 157px
        height: 52px
        font-size: 18px
        gap: 36px
        align-items: center
        background: rgba(255, 255, 255, 1);
        border-radius: 20px
        cursor: pointer
        z-index: 150
        transition: 0.5s
    .btn-menu-active
        background: rgba(233, 233, 233, 1);

    .line-burger
        height: 2px
        width: 18px
        background: rgba(30, 30, 30, 1);
        border-radius: 10px
        transition: 0.8s
    .burger
        height: 10px
        width: 18px
        display: flex
        flex-direction: column
        justify-content: space-between
    .burger-active
        .line-burger:nth-child(1)
            transform: translateY(3px) rotate(-45deg)
        .line-burger:nth-child(2)
            transform: translateY(-4px) rotate(45deg)
            
    .btn__open-mobile
        display: flex
        justify-content: center
        align-items: center
        height: 52px
        width: 157px
        background: rgba(12, 117, 241, 1);
        font-size: 18px
        z-index: 150
        &:active
            background: #1D51B5;
    .burger-shadow
        position: absolute;
        display: none
        left: 0;
        // bottom: -450px
        // top: 328.5px;
        // bottom: 188px
        width: 100%;
        height: 1000vh
        background: #0d090980;
        z-index: 0;
        backdrop-filter: blur(4px);
        z-index: 101
    .burger-shadow-active
        display: block


@media  screen and (max-width: 1185px) 

    .ellips_first-section-group
        transform: translate(2%, -41%)
    .stick
        transform: translate(calc(81vw - 258px), -57%)
    .position
        transform: translate(calc(81vw - 258px), 224%);
    .nav-request
        padding-left: 5vw
    .phone-desctop
        display: none


    .main-information
        // padding-top: 20.531rem
        padding-bottom: 6.25rem
        width: 100%
    .secondary-block__title

    .secondary-block__title-one 
        width: 92%
    .flip-front-img > img
        width: 235px
    .flip-back-img > img
        width: 235px
    .flip-back-img
        top: -232px
    // .flip-front-img  .img-flip3
    //     width: 300px
    .flip-descr
        line-height: 20px
    .title_block, .slider-text__item
        font-size: 64px
        font-weight: 700
    .title-descr
        font-size: 18px
    .title-descr__first-block
        padding-top: 0px
        width: 48%
    // .main-information_item
    //     padding-left: 5rem
    // .first-block
    //     padding-bottom: 29.1rem
    .secondary-block__title
        font-size: 36px
        line-height: 40px
    .secondary-block_title-descr-one
        width: 33%
    .secondary-block_title-descr-two
        width: 56%
    .secondary-block-two
        padding-bottom: 444px
    .secondary-block
        padding-bottom: 486px
    
    .section__wrapper_made-maps
        // width: 100%
        // padding: 60px 56px 0 56px
    .section__title_made-maps
        width: 55%
        font-size: 40px
    .made-maps__img_display >img
        width: 100%
    .section__wrapper_made-maps 
        padding-top: 35px
    .section__title_made-maps_why-choose
        font-size: 44px
        padding-bottom: 41px

    .animation-card_img
        border-radius: 16px
        height: 202px
        width: 100%
    .animation-cards__container
        padding-bottom: 77px
    .animation-card_title
        font-size: 22px

    .animation-card_description
        color: rgba(235, 235, 235, 1)
        font-size: 16px
        line-height: 24px
    .section__title_block_helps 
        padding-top: 44px
    .projects__slider
        gap: 14px

    .open-map__link
        display: block
    
    .section__title_projects
        padding-top: 127px
        padding-bottom: 41px

    .section__title_block_helps
        font-size: 44px
    .section__title
        font-size: 44px
    .animation_wrapper 
        width: 112%;
        overflow: hidden;
        --itemWidth: 50%;


    .section__title_projects
        font-size: 44px
        z-index: 100
    .carousel_dots-container
        display: none
    .carousel_open-map_container
        position: absolute
        display: block
        width: 208px;
        height: 50px;
        background: rgba(30, 30, 30, 0.85);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.06);
        border-radius: 12px
        font-size: 16px
        color: $white
        transform: translate(79%, -226%)

    .open-map__link::before
        position: absolute;
        content: '';
        width: 20px;
        height: 20px
        cursor: pointer
        left: 20px
        background-image: url('../assets/images/icons/link-open_map.svg')


    .secondary-block_title-our-price
        width: 60%

    .tarif-card__item
        position: relative
    .tarif-cards__container
        position: relative
    .tarif-cards__container::before
        z-index: 100
        position: absolute;
        content: '';
        width: 150px;
        // width: calc(150px + 210 * ((100vw - 768px)/ (1185  - 768))  )
        height: 92.3%
        top: 50px
        left: calc( (1296px - 101vw) / 2 ) 
        // right: calc(55px + 175 * ((276vw - 768px) / (1180 - 768)));
        background: linear-gradient(to right, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%, transparent 100%);
    .tarif-cards__container::after
        z-index: 100
        position: absolute;
        content: '';
        width: 150px;
        // width: calc(150px + 210 * ((100vw - 768px)/ (1185  - 768))  )
        height: 92.3%
        top: 50px
        right: calc( (1296px - 101vw) / 2 ) 
        // right: calc(55px + 175 * ((276vw - 768px) / (1180 - 768)));
        background: linear-gradient(to left, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%, transparent 100%);
    

    .section__title_request 
        font-weight: 700;
        font-size: 44px;
    .secondary-block_title-descr-request 
        width: 53%
    .secondary-block-three 
        padding-bottom: 211px
    .our-price 
        padding-bottom: 100px
    .section__title_our-price 
        font-size: 44px
        padding-top: 78px;
    .form-questions_title 
        width: 96%;
        text-align: left;
        font-size: 32px;
        font-weight: 600
    .form-questions_title 
        width: 96%;
        text-align: left;
        font-size: 32px;
    // .questions-and-app__container 
    //     width: 109%;
    .section__title_we-know 
        font-size: 32px;
    .secondary-block_title-descr-we-know 
        width: 66%
    .road-plan
        padding-right: 6.3%
    .animation-card__item
        width: 100%
        border-radius: 24px
    .animation-card_img
        width: 326.6px
        border-radius: 24px
    .img-video
        height: 100%
        width: 326.6px
@media  screen and (max-width: 1150px)
    .right_part_img
        width: 270px
        height: 545px
        display: flex
        justify-content: center
        align-items: center
    // .frame
    //     position: absolute
    //     height: 545px
    //     top: 0
    //     left: 0
    //     z-index: 3
    //     width: 270
    .first-block
        padding-bottom: 6.9rem
    .stick
        transform: translate(calc(81vw - 258px), -70%)
    .position
        transform: translate(calc(81vw - 258px), 301%)
    // .img-video-phone
    //     z-index: 1
    //     width: 90%
    //     height: auto
    //     border-radius: 37px
    // .phone-video
    //     padding-top: 74px
    //     position: relative
    //     width: 238.86px
    //     height: 545px
    //     display: flex
    //     justify-content: center
    //     align-items: center
    
    .questions-and-app__container 
        width: 100%
        padding-top: 33px
    .app__container-img
        transform: translate(0%, 107%)
    .section__title_answer
        line-height: 48px
    .questions_container
        width: 84.4%
    .section__title_we-know
        width: 74%
        line-height: 36px
    .secondary-block_title-descr-we-know
        line-height: 26px
        width: 76%
    .answer__section
        padding-top: 4px
    .qr_code_link
        display: none

@media  screen and (max-width: 1085px)
    .nav-request
        padding-left: 2.3vw
    .section__title_made-maps 
        width: 60%;
    .made-maps__img_display >img
        width: 100%
        
    .secondary-block_title-our-price 
        width: 66%

        
    .questions-and-app__container 
        width: 109%;
    .questions_container
        width: 97.4%

    .section__title_we-know 
        width: 92%
    .secondary-block_title-descr-we-know 
        width: 89%
    .carousel-container
        width: 462px
        height: 356px
    .carousel
        height: 252px
    .road-plan
        padding-right: 0.3%
    // .tarif-cards__container::before
    //     width: 250px;
    //     right: calc(55px + 175 * ((290vw - 768px) / (1180 - 768)));
@media  screen and (max-width: 1040px)
    .animation-cards__container
        flex-direction: column
        width: 91%
    .animation-card__item
        display: flex
        align-items: center
        gap: 30px
    .animation-card_description
        padding-left: 0
    .phone-video
        padding-top: 105px
        position: relative
        width: 238.86px
        height: 538px
        display: flex
        justify-content: center
        align-items: center
@media  screen and (max-width: 985px)
    .frame
        height: 104%
    .dot-translate
        display: none !important
    .open__link-map
        display: flex
        position: absolute
        width: 40%
        height: 50px
        background-color: #fff
        border-radius: 12px
        background: rgba(26, 27, 31, 1);
        padding-left: 20px
        color: $white
        align-items: center
        justify-content: center
        transform: translate(-50%, -140%)
        right: 50%
        left: 50%
        z-index: 200
    .open__link-map::before
        content: ""
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('./../assets/images/icons/link-open_map.svg');
        left: 53px
        top: 14px


    .container-flip_cards
        width: calc( 100vw - 90px )
    .slider-text__item
        margin-top: 0px
    // .main-information_item 
    //     padding-left: 2.4rem
    .right_part_img
        display: none
    // .right_part_img
    //     display: none
    // .stick
    //     transform: translate(calc(81vw - 213px), -57%)
    // .position
    //     transform: translate(calc(81vw - 213px), 200%);

    .title_block, .slider-text__item
        font-size: 44px
    .title-descr 
        font-size: 16px;
    .title-descr__first-block 
        width: 51%;
    .main-information 
        padding-top: 11.531rem
        padding-bottom: 5.25rem;
    .secondary-block__title 
        font-size: 34px;
        font-weight: 600
        line-height: 38px;
    .animation-card_description
        padding-bottom: 61px
    .section__title_block_helps
        padding-top: 26px
        padding-bottom: 39px
    .projects__container
        padding-bottom: 65px
    
    // .secondary-block__title-one 
    //     width: 53%
    .secondary-block_title-descr-one 
        width: 40%
    .title-descr
        line-height: 24px
    .first-block 
        padding-bottom: 6.9rem
    .secondary-block 
        padding-bottom: 356px
    .secondary-block_title-descr-two
        width: 53%;
    .secondary-block-three 
        padding-bottom: 111px
    .section__title_made-maps 
        width: 76%;
    .section__wrapper_made-maps 
        padding-top: 58px;
        padding-bottom: 59px
        width: 100%
        margin-bottom: 96px
    .made-maps__img_display
        height: 400px
    .why-choose
        margin-top: 0
    .section__wrapper_why-choose 
        padding-top: 72px
    .section__title_made-maps_why-choose 
        padding-top: 0
    .section__title_made-maps_why-choose
        font-size: 38px
        padding-bottom: 40px
    .section__title_request
        font-size: 38px
    .secondary-block_title-descr-request
        width: 70%
    .animation-card_img
        width: 63.5%
    // .img-video
    //     width: 100%
    //     // height: 202px
    //     // width: 328px
    //     // border-radius: 24px
    //     // overflow: hidden
    .section__title_block_helps
        font-size: 38px
        width: 60%
    .section__title_projects
        font-size: 38px
        padding-bottom: 40px
    .projects__slider
        flex-direction: column

    .carousel-container
        width: 462px
        height: 356px
    
    .secondary-block_title-our-price 
        width: 72%
    .carousel-container
        width: 644px
        height: 428px


    .carousel
        height: 302px
    .swiper-pagination
        display: none
    .questions-and-app__container
        width: 100%
        justify-content: center
        align-items: center
        flex-direction: column
    .app__img-dectop
        display: none
    .app__container
        width: 99.7%
    .textare-question
        height: 151px
        margin-bottom: 49px
    .questions_container, .app__container
        width: 99.7%
    .form-questions_title
        font-size: 28px
        // width: 56%
    .secondary-block_title-descr-req
        width: 49%
    .app__container
        padding-bottom: 0px
    .section__title_we-know
        font-size: 28px
        width: 64%
    .app__img-mobile
        display: block
    .app__container-img
        position: relative
        transform: translate(5%, 1%)
    //     transition: 2s
    .transform-Y
        transform: translate(5%, 1%)
    .apps_icon_link
        background: #323D9C
    .we-know
        padding-top: 0
    .we-know__content
        flex-direction: column
        justify-content: left
    .header_we-know
        padding-top: 0
        width: 59%
    .section__title_we-know 
        width: 72%
    .road-plan
        padding-top: 140px
        left: 64px
    .road-plan::before 
        content: url(../assets/images/icons/road-line-mobil.png)
        position: absolute
        top: -1%
        margin-left: -36px
    .section__title_answer 
        font-size: 38px
        line-height: 42px
        width: 78%;

    .footer
        padding: 40px 48px 100px 48px
    .footer-under
        flex-direction: column
        align-items: start
        padding-bottom: 30px
    .footer_right-part 
        align-items: left
    .apps_icon-footer
        padding-top: 20px
    .footer-description_app
        padding-top: 30px
        text-align: left
    .apps_icon-footer
        padding-top: 14px
    .app-footer
        background: rgba(31, 31, 31, 0.6);
    .footer-above
        flex-direction: column
        align-items: start
    .slider-text__container
        height: 50px
    .question
        padding-right: 30px
@media  screen and (max-width: 770px)
    .burger-menu
        display: flex
        position: absolute
        // bottom: 0
        bottom: -450px
        height: 336px
        width: 100vw
        background-color: #fff
        z-index: 100
        border-radius: 24px 24px 0px 0px;
        padding-inline: 45px
        padding-top: 25px
        transition: 0.5s
    .burger-menu-active
        bottom: 0
    .ul-burger-menu
        display: flex
        flex-direction: column
        justify-content: start
        align-items: start
        gap: 20px
        width: 100%
    .menu__item-link-burger-line
        width: 100%
        height: 1px
        background: rgba(30, 30, 30, 0.08);

    
    .logo-icon-mobile
        display: block
    .nav-menu, .nav-request, .arrow-nav
        display: none
    .navigation
        position: static
        background: none
        box-shadow: none
        top: 12px
        justify-content: start
        backdrop-filter: none
    .main-information
        padding-top: 7.3rem
    // .main-information_item
    //     padding-left: 3.1rem 
    .title-descr__first-block
        padding-top: 21px
    // .first-block
    //     padding-bottom: 25.3rem
    .apps_icon
        padding-top: 25px

    .nav-request-mobile
        z-index: 200
        position: fixed
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        // transform: translatex(4%)
        // top: 58vh
        bottom: 0vh
        height: 88px
        width: 100vw
        background: rgba(30, 30, 30, 0.7);
        backdrop-filter: blur(6px);
        border-radius: 24px 24px 0px 0px;
    .btn-menu
        display: flex
        padding: 16px 24px 16px 24px
        color: rgba(30, 30, 30, 1);
        width: 157px
        height: 52px
        font-size: 18px
        gap: 36px
        align-items: center
        background: rgba(255, 255, 255, 1);
        border-radius: 20px
        cursor: pointer
        z-index: 150
        transition: 0.5s
    .btn-menu-active
        background: rgba(233, 233, 233, 1);

    .line-burger
        height: 2px
        width: 18px
        background: rgba(30, 30, 30, 1);
        border-radius: 10px
        transition: 0.8s
    .burger
        height: 10px
        width: 18px
        display: flex
        flex-direction: column
        justify-content: space-between
    .burger-active
        .line-burger:nth-child(1)
            transform: translateY(4px) rotate(-45deg)
        .line-burger:nth-child(2)
            transform: translateY(-4px) rotate(45deg)
            
    .btn__open-mobile
        display: flex
        justify-content: center
        align-items: center
        height: 52px
        width: 157px
        background: rgba(12, 117, 241, 1);
        font-size: 18px
        z-index: 150
        &:active
            background: #1D51B5;
    .burger-shadow
        position: absolute;
        display: none
        left: 0;
        // bottom: -450px
        // top: 328.5px;
        // bottom: 188px
        width: 100%;
        height: 1000vh
        background: #0d090980;
        z-index: 0;
        backdrop-filter: blur(4px);
        z-index: 101
    .burger-shadow-active
        display: block
    .tarif-cards__container::before
        width: 80px
    .tarif-cards__container::after
        width: 80px
    .road-plan
        left: 52px
    .btn-plan
        width: calc( 100vw - 235px  )
    .section__title_answer
        padding-top: 88px
    .accordeon-answer_container
        padding-top: 30px
    .header_we-know
        width: 100%
@media  screen and (max-width: 714px)
    .secondary-block__title-one
        width: 56%
    .animation-card_description
        padding-bottom: 0
    .animation-cards__container
        width: 100%
    .container-flip_cards
        min-height: 1050px
        height: 1150px

    .font-card, .back-card
        padding: 20px 30px 
    .flip-descr
        font-size: 16px
    // .flip-front-img > img
    //     width: 209px
    // .flip-front-img > img
    //     width: 209px
    .flip-front-img
        bottom: 0
    .flip-back-img
        top: -280px

    .secondary-block__title-one
        width: 100%
@media  screen and (max-width: 700px)
    .open__link-map
        width: 45%
    .open__link-map::before
        left: 20%

    .right_part_img-tablet
        display: none
    .main-information
        padding-top: 6.531rem
        padding-inline: 48px
    // .main-information_item
    //     padding-left: 0
    .phone-img-mobile
        margin: 40px 0
        display: flex
        justify-content: center
    .animation-cards__container
        width: 100%
    .first-block
        padding-bottom: 4.9rem
    .secondary-block
        padding-bottom: 0px
    .secondary-block__title-one
        width: 87%;
    .secondary-block-three
        padding-bottom: 0
    .secondary-block_title-descr-one
        width: 58%
    .secondary-block_title-descr-two
        width: 60%
    .title-descr__first-block 
        width: 63%
    .carousel-container
        width: calc( 100vw - 96px  )
    .form-questions_title
        width: 90%
    // .flip-front-img .img-flip3
    //     width: 265px


@media  screen and (max-width: 640px)
    .tarif_btn-disable .tooltiptext
        bottom: 30%
        left: 20%
    .tarif_btn-disable:hover .tooltiptext
        visibility: visible
        opacity: 1
    
    .flip-card
        display: flex
        justify-content: center
    .flip-front-img
        padding-top: 30px
        bottom: 0px
        right: 0
    .flip3
        padding-top: 30px
    .font-card, 
        flex-direction: column
        align-items: center
    .back-card
        flex-direction: column-reverse
        align-items: center
    .back-card > .flip-text
        height: 52%
    .flip-text
        gap: 40px
    .card-middle
        flex-direction: column-reverse
        gap: 0
        justify-content: start

    .card-middle > .flip-text
        height: 61%
    .back-card > .flip-text
        gap: 10px
    .flip-back-img
        top: 0
        right: 0
    .back-card
        flex-direction: column-reverse
        justify-content: end
    .container-flip_cards
        width: calc( 100vw - 100px )
        min-width: 320px
        gap: 40px
        height: 1550px
    .back-card-middle
        flex-direction: column
    .secondary-block__title-last
        width: 100%
        text-align: center
    .open__link-map
        width: 40%
    .open__link-map::before
        left: 7%
    .animation-card_img
        width: 326.6px
    .animation-card__item
        flex-direction: column
        justify-content: center
        gap: 0px
    .animation-card_description
        min-width: 308px
        width: 326.6px
        padding-left: 10px
    .section__title_block_helps
        width: 90%
    .tarif-cards__container-desctop
        display: none
    .tarif-cards__container::before, .tarif-cards__container::after
        width: 0
    .tarif-cards__container-mobile
        padding-top: 30px
        display: flex
        flex-direction: column
        gap: 20px
    ///tarif accordeon
    .tarif-card__item
        width: calc( 100vw - 50px  )
        height: auto
        // gap: 18px
    .tarif-card__title
        width: calc(100%  - 40px )
        margin-bottom: 0
        margin-inline: auto
        
    .tarif_coast-item
        width: calc( 100vw * 0.44  )
        //section our-price

    .button-accordion
        cursor: pointer
        text-align: center
        font-size: 16px
        font-weight: normal
        color: rgba(255, 255, 255, 1);
        margin: 0px 0px 18px 0px
    .accordion-content 
        padding: 0px 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        margin-top: 18px

    .is-open
        overflow: visible
        

    .tarif-cards__container-mobile 
        position: relative
        padding-top: 20px
        display: flex
        flex-direction: column
        // align-items: center
        // justify-content: space-between
        z-index: 100
        gap: 21px
        // left: 30%
        transition: all 2s
    
    // .tarif_coast-item
    //     width: 51%
    .tarif_coast-item-third
        width: 66%

    .but
        margin: 0 auto
        border-radius: 20px
        text-align: center
        height: 62px;
        width: calc( 100% - 24px )
        padding: 20px 40px 24px 40px
        font-size: 20px
        color: rgba(255, 255, 255, 0.95)
        background: #0C75F1
        margin-bottom: 20px
    .tarif_btn-disable
        cursor: default
        background: #33343B
    .tarif_card-color-boder
        position: relative
    .tarif_card-color-boder::before
        border-radius: 44px
        width: 100%
        height: 100%
        content: '';
        background-image: linear-gradient(149.16deg, rgba(12,117,241,0.45) 0%, rgba(39,70,105,0.45) 33.47%, rgba(6,231,117,0.3015) 65.23%, rgba(85,47,218,0.45) 100%);
        padding: 6px;
        top: -6px;
        left: -6px;
        position: absolute;
        z-index: -1;

    .button-accordion
        text-align: center
        font-size: 16px
        font-weight: normal
        color: rgba(255, 255, 255, 1);


@media  screen and (max-width: 510px)
    .open__link-map
        width: 50%
    .open__link-map::before
        left: 9%
    .title-descr__first-block
        width: 86%

    .secondary-block__title-one
        width: 100%
    .secondary-block_title-descr-one
        width: 72%
    .secondary-block_title-descr-two
        width: 82%
    .main-information
        padding-bottom: 1.25rem
    .section__title_projects
        padding-top: 52px
    .carousel_title
        padding-left: 0px
    .section__title_our-price
        padding-top: 40px
    .carousel-container
        padding-bottom: 0px
        height: 400px
    .projects__container
        padding-bottom: 30px
    .secondary-block_title-our-price
        width: 100%
        font-size: 18px
    .tarif_coast-item
        width: calc( 100vw * 0.47  )
    .tarif_coast-item-third
        width: 87%
    .app__container
        backdrop-filter: none
    .app__container-img
        transform: translate(8%, 0%)
    .transform-Y
        transform: translate(8%, 0%)
    .secondary-block_title-descr-req
        width: 80%
    .our-price
        padding-bottom: 80px
    .btns-theme
        padding-inline: 10px
    .app__img-mobile
        width: 84%
    .text_item
        font-size: 16px
    .carousel-container
        width: calc( 100vw -  62px)
        padding-inline: 12px
    .btn-plan
        width: calc( 100vw - 100px )
    .section__title_answer
        padding-top: 20px

@media  screen and (max-width: 490px)
    .container-flip_cards
        height: 2048px
    .secondary-block__title
        font-size: 36px
    .flip-card__btn
        font-size: 18px
    .btn-plus
        width: 24px
        height: 24px
    .flip-front-img > img 
        width: 276px
    .flip-back-img > img 
        width: 276px
    .secondary-block__title-last
        text-align: left



@media  screen and (max-width: 450px)
    .navigation
        padding-inline: 0
        padding-top: 32px
    .main-information
        padding-inline: 20px
    .title_block, .slider-text__item
        font-size: 36px
    .secondary-block__title-one
        font-size: 28px
    .secondary-block__title
        font-size: 36px
    .slider-text__container
        height: 40px
    .app_apple_link
        width: 128.86px
        height: 44px
        border-radius: 15px
    .img_apps_icons
        width: 88%
    .phone-img-mobile
        margin: 29px 0px 54px 0px
    .section__wrapper_why-choose
        padding-top: 40px
    .section__title
        font-size: 34px
    .carousel-container
        width: calc( 100vw -  30px)
        height: 382px
        padding-inline: 12px
    .carousel
        height: 302px
    .carousel_title
        font-size: 20px
        padding-bottom: 20px
    
    ///section price
    .tarif_name-title, .tarif_name-dates
        font-size: 14px
    .tarif-coast-descriotin
        font-size: 16px
    .tarif_coast, .tarif_coast-second, .tarif_coast-third
        font-size: 40px
    .but
        font-size: 18px
    .tarif_list-item
        padding-left: 40px
    .tarif_list-item::before
        left: 10px


    .form-questions_title
        width: 100%
    .app__img-mobile
        width: 120%
    .app__container
        max-height: 677px
    .questions_container
        padding: 20px
    .textare-question
        margin-bottom: 30px
    .app__container-img
        transform: translate(-6%, 1%)
    .transform-Y
        transform: translate(-6%, 1%)
    .section__title_we-know 
        width: 100%
        font-size: 30px

    .secondary-block_title-descr-we-know
        font-size: 20px
    .btn-plan
        width: calc(100vw  - 89px )
    .section__title_answer
        width: 98%
        padding-top: 60px
    .question
        padding-right: 10px
    .section__title_answer
        padding-top: 20px
    .but
        padding-inline: 10px
    .footer
        padding: 48px 18px 80px
@media  screen and (max-width: 450px)
    .footer
        padding-bottom: 100px
@media  screen and (max-width: 400px)
    .title-descr__first-block
        width: 77%
    .animation-card_img
        width: 288.6px
    .img-video
        width: 288.6px
        height: 86%
    .open__link-map
        width: 60%
    .open__link-map::before
        left: 5%
    .tarif-card__name
        padding: 12px
    .tarif_coast-item
        width: calc(100vw * 0.6   )
    .tarif-plus
        top: 0px
    .tarif_coast-item-third
        width: 98%
    .price-item
        top: 19%
        font-size: 15px
    .tarif_name-dates
        padding-inline: 8px
    .form-questions_title
        width: 90%
    .footer_politic
        flex-wrap: wrap
    .email-info
        font-size: 36px
    .email-info__item1
        top: -46px
    .email-info:hover .email-info__item1
        top: 4px
    .footer
        padding-bottom: 100px
    .accordion
        font-size: 12px
@media  screen and (max-width: 355px)
    .container-flip_cards
        width: 100%
        min-width: 280px
    .animation-card_description
        padding-left: 18px
    .tarif-card__name-free
        width: 106%
    .tarif_coast-item-third
        width: 100%
    .tarif_name-dates
        font-size: 12px
    .secondary-block_title-descr-we-know
        width: 100%
    .btn-plan
        font-size: 16px
    .text-plan
        font-size: 16px
    .tarif-coast-descriotin
        width: 65%
    .btn-menu, .btn__open-mobile
        width: 145px
    .email-info
        font-size: 32px
    .email-info__item1
        top: -41px
    .email-info:hover .email-info__item1 
        top: 8px;
    .footer
        padding-bottom: 100px