@media  screen and (min-width: 1520px)
    
    .wrapper
        max-width: 1920px

    .main-information
        padding-top: 29.625rem
        padding-bottom: 6.25rem
        width: 100%

    .main-information_item 
        padding-left: 23.75rem

    .section__wrapper_why-choose
        max-width: 1696px

    .secondary-block__title-one 
        width: 48%
    .stick
        transform: translate(230%, -78%)
    .position
        transform: translate(230%, 250%);
    .section__wrapper
        padding: 0 16.3%

    .secondary-block_title-our-price 
        width: 48%
    .secondary-block_title-descr-request 
        width: 50%
    .animation-cards__container
        width: 120%
    .animation_wrapper 
        width: 159%;
    .footer 
        max-width: 1696px
        padding: 40px 200px 30px 200px;




@media  screen and (max-width: 1350px) 
    .wrapper
        // padding: 0 30px
    .navigation
        gap: 6rem
    .stick
        transform: translate(calc(81vw - 355px), -66%)
    .position
        transform: translate(calc(83vw - 355px), 266%);
    
    .carousel-container
        width: 503px
        height: 376px
    
    .carousel 
        max-width: 463px
        height: 272px
    .swiper-pagination
        transform: translate(158%, 123%) !important
    .dot-translate
        transform: translate(158%, 0%) !important
    

@media  screen and (max-width: 1185px) 

    .ellips_first-section-group
        transform: translate(2%, -41%)
    .stick
        transform: translate(calc(81vw - 258px), -74%)
    .position
        transform: translate(calc(81vw - 258px), 324%);
    .navigation
        gap: 6rem
    .nav-menu li:nth-child(6)
        display: none
    .nav-menu li:nth-child(7)
        display: none
    .nav-menu li:nth-child(8)
        display: none
    .phone-desctop
        display: none
    .phone-laptop
        display: block

    .main-information
        padding-top: 20.531rem
        padding-bottom: 6.25rem
        width: 100%
    .secondary-block__title-one 
        width: 55%
    .title_block, .slider-text__item
        font-size: 64px
        font-weight: 700
    .title-descr
        font-size: 18px
    .title-descr__first-block
        padding-top: 0px
        width: 48%
    .main-information_item
        padding-left: 5rem
    .first-block
        padding-bottom: 29.1rem
    .secondary-block__title
        font-size: 40px
        line-height: 44px
    .secondary-block_title-descr-one
        width: 33%
    .secondary-block_title-descr-two
        width: 56%
    .secondary-block-two
        padding-bottom: 444px
    .secondary-block
        padding-bottom: 486px
    
    .section__wrapper_made-maps
        // width: 100%
        // padding: 60px 56px 0 56px
    .section__title_made-maps
        width: 55%
        font-size: 40px
    .made-maps__img_display >img
        width: 100%
    .section__wrapper_made-maps 
        padding-top: 35px
    .section__title_made-maps_why-choose
        font-size: 44px

    .animation-card_img
        border-radius: 16px
        height: 202px
        width: 103%

    .animation-card_title
        font-size: 22px

    .animation-card_description
        color: rgba(235, 235, 235, 1)
        font-size: 16px
        line-height: 24px
    .section__title_block_helps 
        padding-top: 0px;
    .projects__slider
        gap: 8px

    .open-map__link
        display: block
        

    .section__title_block_helps
        font-size: 44px

    .animation_wrapper 
        width: 112%;
        overflow: hidden;
        --itemWidth: 50%;


    .section__title_projects
        font-size: 44px
        z-index: 100
    .carousel_dots-container
        display: none
    .carousel_open-map_container
        position: absolute
        display: block
        width: 208px;
        height: 50px;
        background: rgba(30, 30, 30, 0.85);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.06);
        border-radius: 12px
        font-size: 16px
        color: $white
        transform: translate(79%, -226%)

    .open-map__link::before
        position: absolute;
        content: '';
        width: 20px;
        height: 20px
        cursor: pointer
        left: 20px
        background-image: url('../assets/images/icons/link-open_map.svg')


    .secondary-block_title-our-price
        width: 60%
    .tarif-card__item
        width: 

    .tarif-cards__container
        gap: 21px
        // with: 120%
        // overflow: hidden
    .tarif-card__item
        width: 418px

    .tarif-card__item
        position: relative
    .tarif-card__item:nth-child(1)::after
        position: absolute;
        content: '';
        width: 150px;
        height: 100%
        top: 0
        right: calc(32px + 175 * ((100vw - 768px) / (1180 - 768)));
        background: linear-gradient(to right, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%, transparent 100%);
    .tarif-card__item:nth-child(3)::after
        position: absolute;
        content: '';
        width: 190px;
        height: 100%
        top: 0
        left: calc(32px + 175 * ((100vw - 768px) / (1180 - 768)));
        background: linear-gradient(to left, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%, transparent 100%);
    // .tarif-cards__container
    //     position: relative
    // .tarif-cards__container::after
    //     border-radius: 40px
    //     position: absolute;
    //     content: '';
    //     // width: 150px;
    //     width: calc((1185 * 400px) / (100vw * 5px));
    //     height: 94.3%
    //     top: 5.8%
    //     left: 0
    //     // left: 20px
    //     // left: calc(55px + 165 * ((100vw - 768px) / (1180 - 768)));
    //     // right: calc(32px + 21 * ((100vw - 768px) / (1180 - 768)));
    //     background: linear-gradient(to right, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%, transparent 100%);

    .section__title_request 
        font-weight: 700;
        font-size: 44px;
    .secondary-block_title-descr-request 
        width: 54%
    .secondary-block-three 
        padding-bottom: 211px
    .our-price 
        padding-bottom: 100px
    .section__title_our-price 
        padding-top: 88px;
    .form-questions_title 
        width: 96%;
        text-align: left;
        font-size: 32px
    .form-questions_title 
        width: 96%;
        text-align: left;
        font-size: 32px;
    .questions-and-app__container 
        width: 109%;
    .section__title_we-know 
        font-size: 32px;
    .secondary-block_title-descr-we-know 
        width: 66%
    .road-plan
        padding-right: 6.3%
@media  screen and (max-width: 1150px)
    .questions-and-app__container 
        width: 108%
    .section__title_answer
        font-size: 34px
        line-height: 40px
    .questions_container
        width: 94.4%
    .qr_code_link
        display: none
    .accordion 
        width: 900px
@media  screen and (max-width: 1085px)
    .navigation
        gap: 1rem
    .nav-menu li:nth-child(5)
        display: none
    .section__title_made-maps 
        width: 60%;
    .made-maps__img_display >img
        width: 100%
        
    .secondary-block_title-our-price 
        width: 66%

        
    .questions-and-app__container 
        width: 109%;
    .questions_container
        width: 98.4%

    .section__title_we-know 
        width: 92%
    .secondary-block_title-descr-we-know 
        width: 89%
    .carousel-container
        width: 462px
        height: 356px
    .animation_wrapper 
        --itemWidth: 56%;
    .carousel 
        max-width: 422px
        height: 252px
    .road-plan
        padding-right: 0.3%