@import _resets
@import _fonts
@import _ellipses
@import _variables

body
    margin: 0 auto
    background-color: $black
    font-family: 'Golos Text' 

main
    z-index: 1


.wrapper
    max-width: 1440px
    margin: 0 auto
    border-radius: 20px

.logo-icon
    padding-right: 32px
    position: relative
    top: 4px
// .link_request-mobile
//     align-items: center
//     color: $white
//     font-weight: 500
//     background: rgba(255,255,255,0.05)
//     width: 250px;
//     height: 46px;
// .btn__open-map-mobile
//     width: 182px
//     height: 56px
//     border-radius: 20px
//     color: $white

    
.wrapper-header
    padding: 0 20px


.nav-menu__item_deviders
    display: block
    height: 24px
    width: 2px
    background-color: rgba(255, 255, 255, 0.08)
.menu__item-link
    position: relative
    flex-shrink: 0

.menu__item-link
	text-decoration: none
.arrow-nav
    display: none
.menu__item-link:after 
	display: block
	position: absolute
	left: 0
	width: 0;
	height: 1px; 
	background-color: rgba(255, 255, 255, 0.2)
	content: "";
	transition: width 0.3s ease-out; 
.menu__item-link:after 
    top: 23px
.menu__item-link:hover:after,
.menu__item-link:focus:after 
	width: 100%; 

.nav-request-mobile
    display: none
.nav-request
    display: flex
    justify-content: space-between
    align-items: center
    gap: 8px
    font-size: 16px
    color: $white
    padding-left: 125px
//     // @include media-tablet
//     //     display: none
.btn
    display: block
    font-size: 16px
    height: 46px
    border-radius: 20px
    color: $white
    transition: 0.2s
    cursor: pointer
    

.btn__open-map
    width: 157px
    background-color: $blue-btn
    &:hover
        background: #3F85ED;
    &:active
        background: #1D51B5;



//header
.header
    display: flex
    justify-content: center

.navigation
    z-index: 200
    display: flex
    max-width: 1390px
    margin: 0 20px
    width: 100%
    justify-content: center
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.08);
    padding: 20px 20px
    border-radius: 28px
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(12px);
    position: fixed
    top: 22px
    // @include media-mobilesmall
    //     width: 92%
.nav-menu
    overflow: hidden
    // overflow: scroll
    display: flex
    justify-content: space-between
    align-items: center
    color: $white
    font-size: 16px
    gap: 20px
.nav-menu-mib
    margin-left: 100px
.item-link
    padding-right: 50px
    flex-shrink: 0
.phone-img-mobile
    display: none

.nav-request
    display: flex
    justify-content: space-between
    align-items: center
    gap: 8px
    font-size: 16px
    color: $white
.btn
    display: block
    font-size: 16px
    height: 44px
    border-radius: 20px
    color: $white
//main
.btn_open_constructor
    width: 15.25rem
    height: 55px
    height: 3.437rem
    margin: 1.875rem 0 1.875rem 0
.main
    margin-top: -100px
    z-index: 1

//sections
.main-information
    display: flex
    flex-direction: column
    justify-content: center
    // padding-top: 23.375rem
    padding-bottom: 6.25rem
    width: 100%
    padding-top: 11.625rem;

.main-information_item
    display: flex
    justify-content: center
.title_block
    display: flex
    justify-content: center
.first-block
    position: relative
    padding-bottom: 13.9rem


.slider-text__container
    // width: 600px;
    width: 465px
    // height: 100px;
    height: 90px
    position: relative;
    overflow: hidden;
    text-align: center
.slider-text__item
    position: absolute;
    width: 478px;
    height: 100px;
    transition: 2s;
    margin-top: -20px
.slider-text__item:nth-of-type(1) 
    top: 0;
    z-index: 10;
    transition: 1.7s;
    transition-timing-function: ease-in-out;

.first-block__title
    display: flex
    flex-direction: column
    align-items: center
.title_block
    z-index: 10
.title-block
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center

.title_block, .slider-text__item
    font-size: 80px
    font-weight: 700
    color: $white


.title-descr__first-block
    position: relative
    z-index: 100
    padding-top: 11px
    width: 64%
    display: flex
    align-items: center
.title-descr
    z-index: 100
    line-height: 30px
    font-size: 20px
    color: rgba(234, 234, 234, 1)
    text-align: center
.apps_icon
    position: relative
    padding-top: 30px
    display: flex
    gap: 10px
.scan-popup
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    gap: 12px
    font-size: 16px
    color: $white
    font-weight: 400
    line-height: 20px
    position: absolute
    transform: translate(-38%, -127%)
    width: 223px;
    height: 253px;
    background: rgba(22, 23, 27, 0.9);
    backdrop-filter: blur(8px);
    padding: 24px 24px 20px;
    border-radius: 24px;
    z-index: 1100
    display: none
    transition: 0.3s
.scan-popup-form
    transform: translate(-41%, -120%)
.scan-popup-footer
    transform: translate(-67%, -121%)
.qr_code_link:hover .scan-popup
    display: flex
.apps_icon_link
    cursor: pointer
    transition: 0.2s
    background-color: $social-link
.apps_icon_link:hover
    background-color: rgba(50, 61, 156, 0.85);   
.app_apple_link
    display: block
    width: 164px
    height: 56px
    border-radius: 16px
    text-align: center
.apps_icon-form
    background-color: rgba(50,61,156,0.9);
.img_apps_icons
    transform: translateY(28%)
.img_goole_icons
    transform: translateY(30%)

.app_google_link
    display: block
    width: 183px
    height: 56px
    border-radius: 16px
    text-align: center
.app_google_link
    display: none
.qr_code_link
    position: relative
    display: block
    width: 56px
    height: 56px
    border-radius: 16px
    text-align: center
.appa_icon-footer:hover .scan-popup
    opacity: 1


.img_qr_link
    transform: translateY(37%)

.right_part_img
    width: 353.86px
    height: 716px
    display: flex
    justify-content: center
    align-items: center
.phone-video
    padding-top: 132px
    position: relative
    width: 353.86px
    height: 716px
    display: flex
    justify-content: center
    align-items: center
.frame
    padding-top: 64px
    position: absolute
    height: auto
    top: 0
    left: 0
    z-index: 3
    width: 353.86
.img-video-phone
    z-index: 1
    width: 90%
    height: auto
    border-radius: 37px

// flip cards

.container-flip_cards
    position: relative
    // background-color: #fff
    max-width: 1000px
    // height: 1000px
    margin: 0 auto
    display: flex
    flex-direction: column
    gap: 74px
    perspective: 2000px;
.flip-card
    max-width: 964px
    width: 90%
    width: 964px
    height: 412px
    position: relative
    transition: transform 0.8s cubic-bezier(0.39,0.575,0.565,1);
    transform-style: preserve-3d
    background-color: rgba(24, 25, 27, 0.8)
    border-radius: 40px
.flip-text
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    
.font-card, .back-card
    border-radius: 40px
    position: absolute
    width: 100%
    height: 100%
    display: flex
    // flex-direction: column
    justify-content: space-between
    align-items: start
    transition: 0.8s ease-in-out
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    padding: 52px 56px
.font-card

.back-card
    transform: rotateX(180deg)
    justify-content: start
    gap: 30px
.font-card
    // background: rgba(24, 25, 27, 0.8)
    // background-color: rgba(24, 25, 27, 0.8)
// .font-card-middle, .back-card-middle
//     align-items: end
.flip-card__btn
    cursor: pointer
    position: relative
    display: flex
    align-items: center
    gap: 10px
    font-size: 20px
    color: rgba(255, 255, 255, 1)
    font-weight: 500
    transition: 0.3
    width: 202px
.btn_hide
    width: 250px
    
.flip 
    transform: rotateX(180deg);

// .flip-card__btn
//     z-index: 10
// .front-img-left
//     z-index: 0
    
.flip-card__btn:hover
    color: rgba(176, 180, 194, 1)
.flip-card__btn:hover .btn-plus
    color: rgba(176, 180, 194, 1)
.flip-card__btn:hover svg path 
    fill: rgba(176, 180, 194, 1)
.flip-card__btn:hover svg circle
    stroke: rgba(176, 180, 194, 1)
.flip-card__btn:active
    color: rgba(255, 255, 255, 1)
.flip-card__btn:active svg path 
    fill: rgba(255, 255, 255, 1)
.flip-card__btn:active svg circle
    stroke: rgba(255, 255, 255, 1)
.flip-front-img
    position: relative
    right: -5px
    bottom: 18px
.flip-text__back

.flip-back-img
    // position: absolute
    // top: 0
    // right: 41px

.flip-descr
    font-size: 18px
    font-weight: 400
    line-height: 26px
    color: rgba(255, 255, 255, 1)
    // width: 58%
.card-middle
    gap: 10%
// .btn-plus
//     position: relative
//     top: 20px
.secondary-block__title-last
    width: 80%
.flip-card:hover .font-card
    background: rgba(24, 25, 27, 0.95)
.flip-card:active .font-card
    background: rgba(24, 25, 27, 1.0)
.flip-card:active .back-card
    background: rgba(24, 25, 27, 1.0)
.flip-card:hover .back-card
    background: rgba(24, 25, 27, 0.95)

.font-card:hover
    // transform: scale(1.05)
.btn-plus-close
    transform: rotate(45deg)

.stick
    z-index: 100
    position: fixed
    transform: translate(210%, -66%)
.position
    z-index: 100
    position: absolute
    transform: translate(210%, 250%);
    
.secondary-block
    padding-bottom: 522px
.secondary-block__content-one, .econdary-block__content-three, .secondary-block__content-two
    position: relative



.secondary-block-three
    padding-bottom: 311px
.secondary-block__title
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: $white
.secondary-block__title-one
    width: 96%
.secondary-block_title-descr
    padding-top: 20px
    color: rgba(255, 255, 255, 0.85);
.secondary-block_title-descr-one
    width: 24%
.secondary-block_title-descr-two
    width: 44%




// section made-maps
.made-maps
    // margin-bottom: 60px
    display: none

.section__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 5%

.section__wrapper_made-maps
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    border: 3px solid rgba(255, 255, 255, 0.04)
    width: 90%
    margin: auto
    border-radius: 48px
.section__title
    font-size: 48px
    font-weight: 700
    color: $white
    text-align: center

.section__title_made-maps
    width: 50%

.btn_open_constructor
    background-color: $blue-btn



//section why-choose
.why-choose
    margin-top: 96px
    // width: 100%
.section__wrapper_why-choose
    overflow: hidden
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    max-width: 1444px
    margin: auto
    border-radius: 48px
//     display: flex
//     flex-direction: column
//     align-items: center
.section__title_made-maps_why-choose
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 60px
    padding-bottom: 57px
.animation-cards__container
    display: flex
    justify-content: space-between
    gap: 20px
    padding-bottom: 59px

.img-video
    height: 160%
    width: 100%
    // height: 254px
    // width: 418px
    border-radius: 24px

.animation-card_title
    margin-top: 14px
    margin-bottom: 9px
    text-align: left
    font-size: 26px
    color: $white
    font-weight: 600
.animation-card_description
    padding-left: 10px
    width: 100%
    font-size: 20px
    color: $white
    font-weight: 400
    line-height: 30px

.section__title_block_helps
    padding-top: 40px
    padding-bottom: 50px
    font-size: 50px
    font-weight: 700

.swiper-wrapper 
    transition-timing-function: linear


    
.animation_wrapper
    width: 112%
    overflow: hidden;
    // border: 1px solid;
    // --itemWidth: 29%;


.text_wrapper
    display: flex;
    padding-bottom: 20px
    


.text_wrapper_one
    animation: infinityAnimation 20s linear infinite

.text_wrapper_two
    animation: infinityAnimation_revers 20s cubic-bezier(0.11,.084,.81,0.11) infinite

.text_wrapper_three
    animation: infinityAnimation 16s ease-in-out infinite
.text_wrapper_four
    animation: infinityAnimation_revers 16s ease-in-out infinite

.text_item
    color: $white
    text-align: center
    flex-shrink: 0;
    padding: 28px 20px
    margin: 0 20px
    border-radius: 24px
    // width: auto!important
    font-weight: 400
    font-size: 22px
    border: 1px solid
    align-items: center


.text_item_one:nth-child(2n+1)
    border-color: $blue-boder
    background-color: $blue-text-item
.text_item_one:nth-child(2n+2)
    border-color: $green-boder
    background-color: $green-text-item

.text_item_one:nth-child(3)
    border-color: $pink-boder  
    background-color: $pink-text-item

.text_item_two:nth-child(2n+1)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_two:nth-child(2n+2)
    border-color: $blue-boder
    background-color: $blue-text-item

.text_item_two:nth-child(3)
    border-color: $green-boder
    background-color: $green-text-item
.text_item-build
    width: 495px!important
.text_item-plan
    width: 546px!important
.text_item-quest
    width: 541px!important
.text_item-cabinet
    width: 430px!important
.text_item-rack
    width: 437px!important
.text_item-hermitage
    width: 349px!important
.text_item-cars
    width: 433px!important
.text_item-people
    width: 430px!important
.text_item-shop
    width: 430px!important

.text_item_three:nth-child(2n+1)
    border-color: $green-boder
    background-color: $green-text-item
.text_item_three:nth-child(2n+2)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_three:nth-child(3)
    border-color: $blue-boder
    background-color: $blue-text-item


//projects
.section__title_projects
    position: relative
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 110px
    padding-bottom: 57px
.section__title_projects
    z-index: 10

//carousel-slider
.projects__container
    position: relative
    padding-bottom: 96px
    z-index: 100
//ellipse

.ellips__project-container
    position: absolute
    z-index: -1
    transform: translate(-14%, -73%)
.projects__slider
    display: flex
    gap: 20px




//section our-price

.our-price
    padding-bottom: 188px
.section__title_our-price
    padding-top: 130px
    font-weight: 700;
    font-size: 56px;
.secondary-block_title-our-price
    text-align: center
    width: 54%


.swiper-container
    max-width: 1296px;
    padding-top: 50px
    height: 880px;
    // justify-content: space-between

    overflow: hidden;

.swiper-slide
    flex-shrink: 0


.swiper-slide-container 
    text-align: center;
    // opacity: 0.3;
    height: 820px;
    width: 418px;
    /* width: 418px; */
    // margin: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column
    justify-content: start
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    align-items: center
    // gap: 40px 0px;


.tarif_btn-disable .tooltiptext 
    // visibility: hidden;
    visibility: visible
    width: 299px;
    height: 78px
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(8px)
    color: #fff;
    text-align: center;
    padding: 22px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 15%;
    opacity: 0;
    transition: opacity 1s;
    font-size: 16px
    font-weight: 400
    border-radius: 24px;


.tarif_btn-disable .tooltiptext::after
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    backdrop-filter: blur(8px)
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color:  rgba(255, 255, 255, 0.06) transparent transparent  transparent;

.tarif_btn-disable:hover .tooltiptext 
    visibility: visible;
    opacity: 1;



//ellipse
.ellips__price-container
    position: absolute
    z-index: -1
    transform: translate(1%, -7%)

.tarif_name-title
    font-size: 20px
    color: $white
    font-weight: 500
    transform: translateY(17%)
.tarif-card__item, .tarif-card__title
    display: flex
    flex-direction: column
.tarif-card__item
    position: relative
    border: 3px solid rgba(255, 255, 255, 0.1)
    height: 812px
    width: 418px
    background: linear-gradient(0deg, rgba(22, 23, 27, 0.8), rgba(22, 23, 27, 0.8))
    border-radius: 40px
.tarif-card__item
.tarif_name-dates
    font-size: 17px
    font-weight: 500
    padding: 6px 15px 8px 15px
.name-dates-green
    color: $green-text-tarif
    border-radius: 24px
    background-color: $green-backround-tarif

.name-dates-blue
    color: $blue-text-tarif

    background-color: $blue-backround-tarif

    border-radius: 24px
.name-dates-pink
    color: $pink-text-tarif
    background-color: $pink-backround-tarif
    border-radius: 24px
.tarif-card__name
    display: flex
    justify-content: space-between
    vertical-align: center
    padding: 22px 20px 35px 26px
    width: 94%
.tarif-card__name-std
    gap: 9px
    padding: 22px 9px 35px 14px
.tarif-card__name-free
    width: 100%
.tarif-card__name-full
    width: 100%
.tarif-card__title
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgba(255, 255, 255, 0.05)
    border: 1px solid rgba(255, 255, 255, 0.05);
    // backdrop-filter: blur(8px);
    border-radius: 28px
    // height: 33%
    // width: 90%
    width: 378px
    height: 242px
    margin: 20px
.tarif_line
    margin-top: -36px
    height: 1px
    background-color: rgba(255, 255, 255, 0.1)
    width: 100%
.small-img
    margin-left: 10px
.small-img-one
    margin-left: 5px
.tarif_coast
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -2px
.tarif_coast, .tarif_coast-second,  .tarif_coast-third
    font-size: 56px
    color: $white
    font-weight: 600
    letter-spacing: -2px
    
.tarif-coast-descriotin
    color: rgba(255, 255, 255, 0.85)
    padding-bottom: 35px
    line-height: 22px
    font-size: 18px
    font-weight: 300
    width: 57%
    text-align: center

.tarif_list
    color: $white
    font-size: 18px
    line-height: 24px
    // padding-top: 20px

.tarif_list-item
    position: relative
    padding-bottom: 22px
    text-align: left
    padding-left: 82px

.tarif_list-item::before
    content: ""
    position: absolute
    top: 29%
    left: 51px
    transform: translate(0 , -50%)
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: rgba(57, 125, 226, 1)


.btn-cont 
    width: 100%;
    height: 68px;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
.tarif_btn
    height: 68px;
    width: 378px;
    padding: 20px 40px 24px 40px
    font-size: 20px
    background: #33343B;
    color: rgba(186, 190, 194, 1);
.tarif_btn-disable, .open-link-disable
    cursor: default
    // background: rgba(12, 117, 241, 0.2)
.btn-color
    background: rgba(12, 117, 241, 1)
    color: $white
    transition: 0.2s
    &:hover
        background: #3F85ED;
    &:active
        background: #1D51B5;
.link_request
    display: flex
    justify-content: center
    align-items: center
    width: 250px;
    height: 46px;
    border-radius: 20px;
    transition: 0.3s
    &:hover
        background: rgba(255, 255, 255, 0.12)

.price-item
    position: relative
    top: 34%
    font-size: 17px
    font-weight: 400
    color: rgba(255, 255, 255, 0.4);

.tarif_coast-item
    display: flex
    width: 66%
    // position: relative
    justify-content: space-between
.tarif_coast-item-third
    display: flex
    width: 90%
    // position: relative
    justify-content: space-between
.tarif-line
    width: 1px
    height: 55px
    transform: rotate(18deg)
    background-color: rgba(255, 255, 255, 0.1)

.tarif-plus
    position: relative
    top: 7px
    font-size: 44px
    color: $white
    font-weight: 500
.tarif_card-color-boder
    position: relative
    border: none
    border-radius: 40px
    background: rgba(22, 23, 27, 0.85);

.swiper-slide-color
    background: linear-gradient(149.16deg, rgba(12, 117, 241, 0.45) 0%, rgba(39, 70, 105, 0.45) 33.47%, rgba(6, 231, 117, 0.3015) 65.23%, rgba(85, 47, 218, 0.45) 100%);
    border-radius: 44px
    flex-shrink: 0
    height: 812px
    width: 430px
    // padding: 6px 6px
    display: flex
    justify-content: center
.tarif_card-color-boder
    position: relative
    border: none
    border-radius: 40px
    background: rgba(22, 23, 27, 0.85)
    width: 410px
    height: 806px

.tarif-cards__container-mobile
    display: none
//section reqiest
.section__title_request
    font-weight: 700;
    font-size: 56px;

.questions
    position: relative

.secondary-block_title-descr-request
    width: 49%
    text-align: center


.questions-and-app__container
    width: 100%
    padding-top: 56px
    display: flex
    justify-content: space-around
    gap: 20px

.questions_container
    max-width: 724px
    width: 100%
    padding: 30px 35px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08)
.buttons-container
    display: flex
    flex-wrap: wrap
    gap: 8px


.btns-theme
    display: inline-block
    color: $white
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.04);
    // background-color: pink
    border-radius: 20px
    font-size: 16px
    padding: 18px 30px 20px 30px
    cursor: pointer

.active-buttons
    background-color: rgba(12, 117, 241, 1)
    inset: 3px
    border-color: rgba(255, 255, 255, 0.12)

.form-questions_title
    width: 96%
    text-align: left
    font-size: 40px
    color: $white
.secondary-block_title-descr-form
    color: rgba(222, 222, 222, 1)
    width: 96%
    font-weight: normal
    font-size: 20px;
    line-height: 30px;
    text-align: left
    padding-bottom: 11px
    padding-top: 20px
.secondary-block_title-descr-req
    width: 80%
.questions
    display: flex
    flex-direction: column
    gap: 14px
.secondary-block_title-descr-form
    padding-bottom: 16px
    padding-top: 0
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px
    font-weight: normal
.select-css, .input-question, .textare-question
    display: block; 
    font-size: 18px;
    height: 80px 
    font-weight: 400; 
    color: rgba(255, 255, 255, 0.6);
    padding: .6em 1.4em .5em 1.8em; 
    width: 100%; 
    // max-width: 101%; 
    box-sizing: border-box; 
    margin: 0; 
    border: none
    border-radius: 20px
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.06);
.form-item
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px

.textare-question
    color: white
    padding-top: 25px
    resize: none
    margin-bottom: 22px
textarea:focus, input:focus
    outline: none
.textare-question
    height: 212px
.input-block 
    position: relative;

.input-block input 
    font-size: 18px;
    height: 80px 
    font-weight: 400; 
    color: rgba(255, 255, 255, 0.6);
    padding: .6em 1.4em .5em 1.8em; 
    width: 100%; 
    // max-width: 101%; 
    box-sizing: border-box; 
    margin: 0; 
    border: none
    border-radius: 20px
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.06);



.placeholder 
    position: absolute;
    padding: 27px 15px
    // margin: 17px 0;
    // padding: 0 4px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal
    display: flex;
    align-items: center;
    font-size: 18px;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;

.input-block input:valid + span.placeholder
    transform: scale(0.8) translateY(-20px);
.input-block input:focus + span.placeholder 
    transform: scale(0.8) translateY(-20px);




// select
//     font-size: 18px; 
//     font-weight: 400; 
//     color: rgba(255, 255, 255, 0.6);
.questions_btn
    height: 78px
    font-size: 20px

.app__container
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    position: relative
    padding: 40px
    max-width: 552px
    // width: 55%
    padding: 33px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
.app__container

.ellips__app-container
    position: absolute
    z-index: 0
    transform: translate(-8%, 13%)
.apps_icons-form
    position: absolute;
    bottom: 40px;
    z-index: 100
.ellipse-apps
    position: absolute
    transform: translate(-10%, -1%)
    z-index: 0
    width: 60%
.app__img-mobile
    display: none
.app__container-img
    position: absolute
    transform: translate(0%, 102%)
    transition: 2s
.transform-Y
    transform: translate(0%, 29%)
// .app__container:hover .app__container-img
//     transform: translate(0%, 23%)
    // transition: 2s
.app-img-link
    background: rgba(50, 61, 156, 1);

.section__wrapper_our-price
    position: relative

//select


.select-container 
    position: relative;
    border-radius: 20px
    margin: 0 auto;
    width: 100%
    
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);


.select-container .select 
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px
    height: 80px;
    margin-bottom: 14px
    padding: .6em 2.0em .5em 1.0em; 

::placeholder 
    font-family: 'Golos Text' 
    font-size: 18px


.select-container .select::after 
    position: absolute;
    content: ""
    background-image: url('../assets/images/icons/select.svg');
    width: 20px;
    height: 11px;
    top: 40%;
    right: 35px;
    // transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
    transition: border-color 0.4s;


.select-container.active .select::after
    transform: rotate(180deg);
    border: none;
    // border-left: 2px solid white;
    // border-top: 2px solid white;

.select-container .select input 
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;

.questions input
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);



.select-container .option-container 
    position: absolute
    background: rgba(45, 47, 53, 1);
    height: 0;
    width: 100%
    border-radius: 20px
    overflow-y: scroll;
    transition: 0.4s;



.select-container.active .option-container
    position: absolute
    height: 330px
    width: 100%
    margin-bottom: 14px




.select-container .option-container .option 
    position: relative;
    padding-left: 30px;
    height: 66px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;

.select-container .option-container .option:nth-child(5)
    border-bottom: none

.select-container .option-container .option.selected
    background: rgba(45, 47, 53, 1);
    pointer-events: none;


.select-container .option-container .option:hover 
    background: rgba(38, 41, 47, 1);

.select-container .option-container::-webkit-scrollbar 
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    width: 1px;


.select-container .option-container::-webkit-scrollbar-thumb 
    background: #0f0e11;


.select-container .option-container .option label 
    font-weight: 400
    font-size: 18px
    color: rgba(255, 255, 255, 1);
    cursor: pointer;



//section we know
.we-know
    padding-top: 12px
.section__wrapper_we-know
    display: flex

.road-plan
    padding-top: 384px
    padding-right: 11.3%
    position: relative


.road-plan::before
    content: url('../assets/images/icons/line-road.svg')
    position: absolute
    top: -7%
    // left: -64.1%
    margin-left: -367px


.road-plan-item::before
    content: ""
    position: absolute
    left: -52px
    transform: translate(0 , 5%)
    width: 32px
    height: 32px
    border-radius: 50%
    background-color: rgba(222, 222, 222, 1)

.header_we-know
    padding-top: 330px
    display: flex
    flex-direction: column
.we-know__content
    padding-top: 95px
    display: flex
.section__title_we-know
    font-size: 42px
    font-weight: 600
    line-height: 48px
    width: 65%
    text-align: left
.secondary-block_title-descr-we-know
    width: 59%
.road-plan-item
    padding-bottom: 93px
.description_text-we-know
    width: 62%
.text-plan
    font-size: 20px
    color: $white
    text-align: left
    padding-bottom: 16px
.btn-plan
    display: flex
    justify-content: center
    align-items: center
    height: 72px
    width: 424px
    font-size: 20px
.btn-plan-purple
    background: rgba(83, 56, 175, 1);
.btn-plan-green
    background: rgba(11, 164, 89, 1);

.btn-plan-blue
    background: rgba(0, 140, 222, 1);


//answer section


.answer__section
    padding-top: 40px
.section__title_answer
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    text-align: center
    width: 62%
.subheader_content_answer
    width: 62%
    text-align: center
    font-size: 56px


.accordion__conteiner
    height: 108px
    align-items: center
    @include media-tablet-mini
        height: 112px

.accordeon-answer_container
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

.accordion 
    max-width: 1096px
    width: 90vw
    margin-inline: 56px;
    border-radius: 20px;


.accordion__content 
    // margin-bottom: 55px;
    // padding-bottom: 10px
    color: $white
    font-size: 20px
    font-weight: 500
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);


.question 
    display: flex;
    // justify-content: space-between;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.3s;


.img-plus
    width: 40px
    height: 40px
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 50%
    transition: 0.5s
    text-align: center
    position: relative
    top: -3px
    cursor: pointer
    flex-shrink: 0
    
.img-plus img
    vertical-align: middle
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
.accordion__conteiner
    display: flex
    justify-content: space-between
.answer 
    height: 0;
    font-size: 18px
    font-weight: 400
    color: rgba(222, 222, 222, 1);

    overflow: hidden;
    transition: 0.3s;

// /* ========================CSS for JS */

.accordion__content.active .answer 
    height: 80px;

.accordion__content.active .question 
    font-size: 20px;

.accordion__content.active .img-plus
    transform: rotate(180deg)

//footer


.wrapper-footer
    // background-color: #fff
    z-index: 3
.footer
    position: fixed
    max-width: 1440px
    margin: auto
    z-index: 0;
    position: relative;
    margin-top: 60px;
    background: rgba(41, 41, 43, 1)
    border-radius: 56px 56px 0px 0px;
    transition: background 2s ease-out 100ms;
    padding: 40px 72px 20px 72px
    margin-top: 60px



.footer::before 
    position: absolute;
    content: "";
    z-index: 0;
    top: 0;
    border-radius: 56px 56px 0px 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90.77deg, rgba(57, 226, 141, 0.5) 0%, rgba(41, 41, 43, 0.37) 48.41%, rgba(37, 83, 153, 0.67) 75.87%, rgba(33, 119, 247, 0.5) 99.34%);
    transition: opacity 0.8s linear;
    opacity: 0
    z-index: -1
.footer:hover::before
    z-index: -1
    opacity: 1




.footer-under
    display: flex
    justify-content: space-between
    align-items: center
    // width: 90%

    
.footer-under
    
    width: 100%
    display: flex
    padding-bottom: 30px
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
.footer_right-part
    align-items: center
    text-align: right

.email-info
    overflow: hidden
    position: relative
    height: 50px
    font-size: 40px
    font-weight: 500
    color: $white
    padding-bottom: 20px
    transition: 0.2s

.email-info__item1
    transition: 0.2s
    position: absolute
    top: -50px
    // top: 0
.email-info:hover .email-info__item1
    top: 0
.footer-descr
    font-size: 18px
    font-weight: 400
    color: $white
.footer-description_app
    font-size: 16px
    font-weight: 400
    color: rgba(255, 255, 255, 0.8);
.footer-above
    display: flex
    justify-content: space-between
    width: 100%
.footer_year, .footer_politic
    padding-top: 20px
    display: flex
    justify-content: space-between
    font-size: 16px
    font-weight: 400
    color: rgba(255, 255, 255, 0.75);
    align-items: center
.footer_politic
    gap: 30px
.footer_year
    gap: 12px
.hover-link
    transition: 0.3s
    cursor: pointer
.hover-link:hover
    color: rgba(255, 255, 255, 1);
.apps_icon-footer
    padding-top: 14px
.footer_year-dot
    width: 1px
    height: 1px
    background: rgba(255, 255, 255, 0.75);
.app-footer
    background: rgba(31, 31, 31, 0.6);
.app-footer:hover
    background: rgba(31, 31, 31, 0.8);
.app-footer-google:hover
    background: rgba(31, 31, 31, 0.6);
.app-footer-google:hover
    background: rgba(31, 31, 31, 0.8);






@import _cookies
@import _our-project

@import _media
