@import _resets
@import _fonts
@import _variables


body
    margin: 0 auto
    background-color: $black
    font-family: 'Golos Text' 

main
    z-index: 1


.header__wrapper
    max-width: 1440px
    margin: 0 auto
    border: 1px solid red
    border-radius: 20px
    display: flex
    justify-content: center

.wrapper
    // max-width: 1920px
    max-width: 1440px
    margin: 0 auto
    border: 1px solid red
    border-radius: 20px



//header


.navigation
    position: fixed
    top: 20px
    z-index: 200
    font-family: 'Golos Text' 
    display: flex
    justify-content: space-between
    align-items: center
    gap: 11rem
    border-radius: 28px
    backdrop-filter: blur(12px);
    background: $color-header
    padding: 20px
    

.nav-menu
    display: flex
    justify-content: space-between
    gap: 20px
    align-items: center
    color: $white
    font-size: 16px


.nav-menu__item_deviders
    margin: 0 12px
    display: block
    height: 24px
    width: 2px
    background-color: rgba(255, 255, 255, 0.08)

.nav-request
    display: flex
    justify-content: space-between
    align-items: center
    gap: 32px
    font-size: 16px
    color: $white
.btn
    display: block
    font-size: 16px
    height: 44px
    border-radius: 14px
    color: $white
    

.btn__open-map
    width: 10.3rem
    background-color: $blue-btn


//main
.btn_open_constructor
    width: 15.25rem
    height: 55px
    height: 3.437rem
    margin: 1.875rem 0 1.875rem 0
.main
    margin-top: -100px
    z-index: 1

//sections
.main-information
    padding-top: 23.375rem
    padding-bottom: 6.25rem
    width: 100%

.main-information_item
    padding-left: 10rem
.first-block
    position: relative
    padding-bottom: 30.625rem

// ellipses
.ellips_first-section
    position: absolute
    transform: translate(-48%, -57%)
    z-index: 0
.ellips_first-section-group
    position: absolute
    transform: translate(19%, -41%)
    z-index: 0
.slider-text__container
    width: 600px;
    height: 100px;
    // margin-top: 5px
    // margin: 100px auto;
    position: relative;
    overflow: hidden;
    // border: 3px solid red
.slider-text__item
    position: absolute;
    width: 478px;
    height: 100px;
    transition: 2s;
.slider-text__item:nth-of-type(1) 
    top: 0;
    z-index: 10;
    transition: 1.7s;
    transition-timing-function: ease-in-out;

.first-block__title
    display: flex
    flex-direction: column
.title_block
    z-index: 10

.title_block, .slider-text__item
    font-size: 80px
    font-weight: 700
    color: $white

.title-descr__first-block
    position: relative
    z-index: 100
    padding-top: 11px
    width: 44%
.title-descr
    z-index: 100
    line-height: 30px
    font-size: 20px
    color: rgba(234, 234, 234, 1)
.apps_icon
    padding-top: 30px
    display: flex
    gap: 10px
.app_apple_link
    display: block
    width: 164px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center

.img_apps_icons
    transform: translateY(28%)
.img_goole_icons
    transform: translateY(30%)

.app_google_link
    display: block
    width: 183px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.qr_code_link
    display: block
    width: 56px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.img_qr_link
    transform: translateY(37%)
.phone-laptop
    display: none
.stick
    z-index: 100
    position: fixed
    transform: translate(210%, -66%)
.position
    z-index: 100
    position: absolute
    transform: translate(210%, 250%);
    
.secondary-block
    padding-bottom: 522px
.secondary-block__content-one, .econdary-block__content-three, .secondary-block__content-two
    position: relative


//ellipse
.ellips__secondary-block-one, .ellips__secondary-block-three, .ellips__secondary-block-two
    position: absolute
    z-index: 0
.ellips__secondary-block-one
    transform: translate(25%, -37%)
.ellips__secondary-block-two
    transform: translate(25%, -35%)
.ellips__secondary-block-three
    transform: translate(16%, -35%)

//

.secondary-block-three
    padding-bottom: 311px
.secondary-block__title
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    color: $white
.secondary-block__title-one
    width: 50%
.secondary-block_title-descr
    padding-top: 20px
    color: rgba(255, 255, 255, 0.85);
.secondary-block_title-descr-one
    width: 30%
.secondary-block_title-descr-two
    width: 44%




// section made-maps
.made-maps
    // margin-bottom: 60px
    display: none

.section__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 5%

.section__wrapper_made-maps
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    border: 3px solid rgba(255, 255, 255, 0.04)
    width: 90%
    margin: auto
    border-radius: 48px
.section__title
    font-size: 48px
    font-weight: 700
    color: $white
    text-align: center

.section__title_made-maps
    width: 50%

.btn_open_constructor
    background-color: $blue-btn



//section why-choose
.why-choose
    margin-top: 96px
    // width: 100%
.section__wrapper_why-choose
    overflow: hidden
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    max-width: 1444px
    margin: auto
    border-radius: 48px
//     display: flex
//     flex-direction: column
//     align-items: center
.section__title_made-maps_why-choose
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 60px
    padding-bottom: 57px
.animation-cards__container
    display: flex
    justify-content: space-between
    gap: 20px
    padding-bottom: 84px
// .animation_card
//     width: 418px
.animation-card_img
    height: 254px
    width: 100%
.animation-card_img-one
    background-image: url('../assets/images/bg/animation-bg-one.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_img-two
    background-image: url('../assets/images/bg/animation-bg-two.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_img-three
    background-image: url('../assets/images/bg/animation-bg-three.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_title
    margin-top: 20px
    margin-bottom: 12px
    text-align: left
    font-size: 26px
    color: $white
    font-weight: 600
.animation-card_description
    width: 95%
    font-size: 20px
    color: $white
    font-weight: 400
    line-height: 30px

.section__title_block_helps
    padding-top: 40px
    padding-bottom: 50px
    font-size: 50px
    font-weight: 700


//Infinity animation
@keyframes infinityAnimation 
    0%
        transform: translate(0);
    
    100%
        transform: translate(calc(0px - var(--itemWidth)))
    

@keyframes infinityAnimation_revers
    0%
        transform: translate(calc(0px - var(--itemWidth)))
    
    100%
        transform: translate(0);
    
.animation_wrapper
    width: 112%
    overflow: hidden;
    // border: 1px solid;
    --itemWidth: 39%;


.text_wrapper
    display: flex;
    padding-bottom: 20px
    


.text_wrapper_one
    animation: infinityAnimation 20s linear infinite

.text_wrapper_two
    animation: infinityAnimation_revers 20s cubic-bezier(0.11,.084,.81,0.11) infinite

.text_wrapper_three
    animation: infinityAnimation 16s ease-in-out infinite
.text_wrapper_four
    animation: infinityAnimation_revers 16s ease-in-out infinite

.text_item
    color: $white
    text-align: center
    flex-shrink: 0;
    padding: 28px 20px
    margin: 0 20px
    border-radius: 24px
    width: var(--itemWidth);
    font-weight: 400
    font-size: 22px
    border: 1px solid
    align-items: center
.text_item_one:nth-child(2n+1)
    border-color: $blue-boder
    background-color: $blue-text-item
.text_item_one:nth-child(2n+2)
    border-color: $green-boder
    background-color: $green-text-item
.text_item_one:nth-child(3)
    border-color: $pink-boder  
    background-color: $pink-text-item

.text_item_two:nth-child(2n+1)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_two:nth-child(2n+2)
    border-color: $blue-boder
    background-color: $blue-text-item
.text_item_two:nth-child(3)
    border-color: $green-boder
    background-color: $green-text-item

.text_item_three:nth-child(2n+1)
    border-color: $green-boder
    background-color: $green-text-item
.text_item_three:nth-child(2n+2)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_three:nth-child(3)
    border-color: $blue-boder
    background-color: $blue-text-item


//projects
.section__title_projects
    position: relative
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 110px
    padding-bottom: 57px
.section__title_projects
    z-index: 10

//carousel-slider
.projects__container
    position: relative
    padding-bottom: 96px
    z-index: 100
//ellipse

.ellips__project-container
    position: absolute
    z-index: -1
    transform: translate(-14%, -73%)
.projects__slider
    display: flex
    gap: 20px




//section our-price
.our-price
    padding-bottom: 210px
.section__title_our-price
    padding-top: 130px
    font-weight: 700;
    font-size: 56px;
.secondary-block_title-our-price
    text-align: center
    width: 54%

    

.tarif-cards__container
    position: relative
    padding-top: 50px
    display: flex
    align-items: center
    justify-content: space-between
    z-index: 100
    gap: 21px


//ellipse
.ellips__price-container
    position: absolute
    z-index: -1
    transform: translate(1%, -7%)

.tarif_name-title
    font-size: 20px
    color: $white
    font-weight: 500
    transform: translateY(17%)
.tarif-card__item, .tarif-card__title
    display: flex
    flex-direction: column
.tarif-card__item
    position: relative
    border: 3px solid rgba(255, 255, 255, 0.1)
    height: 812px
    width: 418px
    background: linear-gradient(0deg, rgba(22, 23, 27, 0.8), rgba(22, 23, 27, 0.8))
    border-radius: 40px
.tarif_name-dates
    font-size: 17px
    font-weight: 500
    padding: 6px 15px 8px 15px
.name-dates-green
    color: $green-text-tarif
    border-radius: 24px
    background-color: $green-backround-tarif

.name-dates-blue
    color: $blue-text-tarif

    background-color: $blue-backround-tarif

    border-radius: 24px
.name-dates-pink
    color: $pink-text-tarif
    background-color: $pink-backround-tarif
    border-radius: 24px
.tarif-card__name
    display: flex
    justify-content: space-between
    vertical-align: center
    padding: 22px 20px 35px 26px
    width: 94%
.tarif-card__name-std
    gap: 9px
    padding: 22px 0px 35px 0px
.tarif-card__name-free
    width: 100%
.tarif-card__name-full
    width: 100%
.tarif-card__title
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgba(255, 255, 255, 0.05)
    border-radius: 28px
    height: 33%
    margin: 20px 20px 10px 20px
.tarif_line
    margin-top: -36px
    height: 1px
    background-color: rgba(255, 255, 255, 0.1)
    width: 100%
    
.tarif_coast
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -2%
.tarif_coast, .tarif_coast-second,  .tarif_coast-third
    font-size: 56px
    color: $white
    font-weight: 600
    letter-spacing: 2px
    
.tarif-coast-descriotin
    color: rgba(255, 255, 255, 0.85)
    padding-bottom: 35px
    line-height: 22px
    font-size: 18px
    font-weight: 300
    width: 57%
    text-align: center

.tarif_list
    color: $white
    font-size: 18px
    line-height: 24px
    // padding-top: 20px

.tarif_list-item
    position: relative
    padding-bottom: 22px
    text-align: left
    padding-left: 82px

.tarif_list-item::before
    content: ""
    position: absolute
    top: 29%
    left: 51px
    transform: translate(0 , -50%)
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: rgba(57, 125, 226, 1)


.btn-cont 
    width: 100%;
    height: 68px;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
.tarif_btn
    height: 68px;
    width: 378px;
    padding: 20px 40px 24px 40px
    font-size: 20px
    color: rgba(255, 255, 255, 0.75)
    background: rgba(12, 117, 241, 0.2)
.btn-color
    background: rgba(12, 117, 241, 1)
    color: $white

.price-item
    // 
    position: relative
    top: 22%
    font-size: 17px
    font-weight: 400
    color: rgba(255, 255, 255, 0.4);

.tarif_coast-item
    display: flex
    width: 66%
    // position: relative
    justify-content: space-between
.tarif_coast-item-third
    display: flex
    width: 90%
    // position: relative
    justify-content: space-between
.tarif-line
    width: 1px
    height: 55px
    transform: rotate(18deg)
    background-color: rgba(255, 255, 255, 0.1)

.tarif-plus
    position: relative
    top: 7px
    font-size: 44px
    color: $white
    font-weight: 500
.tarif_card-color-boder
    position: relative
    border: none
    border-radius: 40px
    background: linear-gradient(0deg, rgba(18, 19, 20, 0.9), rgba(13, 14, 15, 0.8))
    // box-shadow: 2px 2px 20px 0px rgba(12, 117, 241, 0.12)

.tarif_card-color-boder::before 
    border-radius: 44px
    width: 100%
    height: 100%
    content: '';
    background-image: linear-gradient(128.16deg, rgba(12, 117, 241, 0.45) 0%, rgba(6, 231, 117, 0.45) 48.44%,rgba(85, 47, 218, 0.45) 100%);
    padding: 6px;
    top: -6px;
    left: -6px;
    position: absolute;
    z-index: -1;


//section reqiest
.section__title_request
    font-weight: 700;
    font-size: 56px;

.secondary-block_title-descr-request
    width: 49%
    text-align: center


.questions-and-app__container
    width: 100%
    padding-top: 56px
    display: flex
    justify-content: space-around
    gap: 20px

.questions_container
    max-width: 724px
    padding: 38px 40px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08)
.form-questions_title
    width: 96%
    text-align: left
    font-size: 40px
    color: $white
.secondary-block_title-descr-form
    color: rgba(222, 222, 222, 1)
    width: 96%
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left
    padding-bottom: 30px
    padding-top: 20px
.secondary-block_title-descr-req
    width: 80%
.questions
    display: flex
    flex-direction: column

.select-css, .input-question, .textare-question
    display: block; 
    font-size: 18px;
    height: 80px 
    font-weight: 400; 
    color: rgba(255, 255, 255, 0.6);
    padding: .6em 1.4em .5em 1.8em; 
    width: 100%; 
    // max-width: 101%; 
    box-sizing: border-box; 
    margin: 0; 
    border: none
    border-radius: 20px
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.06);
    margin-bottom: 14px
.textare-question
    color: white
    padding-top: 20px
    resize: none
textarea:focus, input:focus
    outline: none

// select
//     font-size: 18px; 
//     font-weight: 400; 
//     color: rgba(255, 255, 255, 0.6);
.questions_btn
    height: 78px
    font-size: 20px

.app__container
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    position: relative
    padding: 40px
    max-width: 552px
    // width: 55%
    padding: 40px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08)
.ellips__app-container
    position: absolute
    z-index: 0
    transform: translate(-8%, 13%)
.apps_icons-form
    position: absolute;
    bottom: 40px;
    z-index: 100
.ellipse-apps
    position: absolute
    transform: translate(-10%, -1%)
    z-index: 0
    width: 60%
    
.app__container-img
    position: absolute
    transform: translate(0%, 102%)
    transition: 2s
.transform-Y
    transform: translate(0%, 34%)
// .app__container:hover .app__container-img
//     transform: translate(0%, 23%)
    // transition: 2s
.app-img-link
    background: rgba(50, 61, 156, 1);

.section__wrapper_our-price
    position: relative

//select


.select-container 
    position: relative;
    border-radius: 20px
    margin: 0 auto;
    width: 100%
    
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);


.select-container .select 
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px
    height: 80px;
    margin-bottom: 14px
    padding: .6em 2.0em .5em 1.0em; 

::placeholder 
    font-family: 'Golos Text' 
    font-size: 18px


.select-container .select::after 
    position: absolute;
    content: ""
    background-image: url('../assets/images/icons/select.svg');
    width: 20px;
    height: 11px;
    top: 40%;
    right: 35px;
    // transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
    transition: border-color 0.4s;


.select-container.active .select::after
    transform: rotate(180deg);
    border: none;
    // border-left: 2px solid white;
    // border-top: 2px solid white;

.select-container .select input 
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;

.questions input
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);



.select-container .option-container 
    position: absolute
    background: rgba(45, 47, 53, 1);
    height: 0;
    width: 100%
    border-radius: 20px
    overflow-y: scroll;
    transition: 0.4s;



.select-container.active .option-container
    position: absolute
    height: 330px
    width: 100%
    margin-bottom: 14px




.select-container .option-container .option 
    position: relative;
    padding-left: 30px;
    height: 66px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;

.select-container .option-container .option:nth-child(5)
    border-bottom: none

.select-container .option-container .option.selected
    background: rgba(45, 47, 53, 1);
    pointer-events: none;


.select-container .option-container .option:hover 
    background: rgba(38, 41, 47, 1);

.select-container .option-container::-webkit-scrollbar 
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    width: 1px;


.select-container .option-container::-webkit-scrollbar-thumb 
    background: #0f0e11;


.select-container .option-container .option label 
    font-weight: 400
    font-size: 18px
    color: rgba(255, 255, 255, 1);
    cursor: pointer;



//section we know
.we-know
    padding-top: 100px
.section__wrapper_we-know
    display: flex

.road-plan
    padding-top: 384px
    padding-right: 11.3%
    position: relative
 

.road-plan::before
    content: url('../assets/images/icons/line-road.svg')
    position: absolute
    top: -7%
    // left: -64.1%
    margin-left: -367px


.road-plan-item::before
    content: ""
    position: absolute
    left: -52px
    transform: translate(0 , 5%)
    width: 32px
    height: 32px
    border-radius: 50%
    background-color: rgba(222, 222, 222, 1)

.header_we-know
    padding-top: 330px
    display: flex
    flex-direction: column
.we-know__content
    padding-top: 95px
    display: flex
.section__title_we-know
    font-size: 42px
    font-weight: 600
    line-height: 48px
    width: 65%
    text-align: left
.secondary-block_title-descr-we-know
    width: 59%
.road-plan-item
    padding-bottom: 75px
.description_text-we-know
    width: 62%
.text-plan
    font-size: 20px
    color: $white
    text-align: left
    padding-bottom: 16px
.btn-plan
    display: flex
    justify-content: center
    align-items: center
    height: 72px
    width: 424px
    font-size: 20px
.btn-plan-purple
    background: rgba(83, 56, 175, 1);
.btn-plan-green
    background: rgba(11, 164, 89, 1);

.btn-plan-blue
    background: rgba(0, 140, 222, 1);


//answer section


.answer__section
    padding-top: 50px
.section__title_answer
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    text-align: center
    width: 62%
.subheader_content_answer
    width: 62%
    text-align: center
    font-size: 56px




.accordeon-answer_container
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

.accordion 
    width: 1096px
    margin-inline: 20px;
    border-radius: 20px;


.accordion__content 
    margin-bottom: 55px;
    padding-bottom: 10px
    color: $white
    font-size: 20px
    font-weight: 500
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);


.question 
    display: flex;
    // justify-content: space-between;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.3s;


.img-plus
    width: 40px
    height: 40px
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 50%
    transition: 0.5s
    text-align: center
    position: relative
    top: -3px
    
.img-plus img
    vertical-align: middle
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
.accordion__conteiner
    display: flex
    justify-content: space-between
.answer 
    height: 0;
    font-size: 18px
    font-weight: 400
    color: rgba(222, 222, 222, 1);

    overflow: hidden;
    transition: 0.3s;

// /* ========================CSS for JS */

.accordion__content.active .answer 
    height: 80px;

.accordion__content.active .question 
    font-size: 20px;

.accordion__content.active .img-plus
    transform: rotate(180deg)

//footer


.wrapper-footer
    // background-color: #fff
    z-index: 3
.footer
    max-width: 1440px
    margin: auto
    z-index: 0;
    position: relative;
    margin-top: 60px;
    background: #404040;
    border-radius: 56px 56px 0px 0px;
    transition: background 2s ease-out 100ms;
    padding: 40px 72px 20px 72px
    margin-top: 60px



.footer::before 
    position: absolute;
    content: "";
    z-index: 0;
    top: 0;
    border-radius: 56px 56px 0px 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90.77deg, rgba(57, 226, 141, 0.5) 0%, rgba(41, 41, 43, 0.37) 48.41%, rgba(37, 83, 153, 0.67) 75.87%, rgba(33, 119, 247, 0.5) 99.34%, rgb(41, 41, 43));
    transition: opacity 0.8s linear;
    opacity: 0
    z-index: -1
.footer:hover::before
    z-index: -1
    opacity: 1




.footer-under
    display: flex
    justify-content: space-between
    align-items: center
    // width: 90%

    
.footer-under
    
    width: 100%
    display: flex
    padding-bottom: 40px
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
.footer_right-part
    align-items: center
    text-align: right

.email-info
    font-size: 40px
    font-weight: 500
    color: $white
    padding-bottom: 20px
.footer-descr
    font-size: 18px
    font-weight: 400
    color: $white
.footer-description_app
    font-size: 16px
    font-weight: 400
    color: rgba(255, 255, 255, 0.8);
.footer-above
    display: flex
    justify-content: space-between
    width: 100%
.footer_year, .footer_politic
    padding-top: 20px
    display: flex
    justify-content: space-between
    font-size: 16px
    font-weight: 400
    color: rgba(255, 255, 255, 0.75);
    align-items: center
.footer_politic
    gap: 30px
.footer_year
    gap: 12px


.footer_year-dot
    width: 1px
    height: 1px
    background: rgba(255, 255, 255, 0.75);
.app-footer
    background: rgba(31, 31, 31, 0.6);





@import _our-project
@import _media